### if,if-else,if-elif-else statement (controlflow statements)
- In Python, the **if**, **elif** and **else** statements are used to control the flow of execution of program based on certain conditions. These statements allow you to execute different blocks of code depending on whether a given condition is true or false.

### if statement
- The basic structure of **if** statement is as fallow:
        - if <condition>:
            # code to be executed if condition is true.

In [5]:
a=2             
if a>0:     # give error without body of statement

IndentationError: expected an indented block (4254222499.py, line 3)

In [2]:
if True:
    pass
#pass behave like body of statement and it won't do anything.

### Pass statement
- In python **pass** is a place holder that does nothing.When ever you are not sure of implementing code you can just give **pass** and it will not throw the error.

### Here's an example of using an if statement to check if a number is positive:

In [3]:
num=int(input('enter any number:'))    
# end_colon(:) is important after every statement.
if num>0:
    print("Given number is positive")  # condition is true then it come inside and execute block of code.

enter any number:5
Given number is positive

- if you want to execute the different code when the condition is not true, you can use **else** statement.

In [4]:
num=int(input('Enter any number:'))
if num>0:
    print('The number is positive.')     
else:                                       # no condition for else.
    print('The number is not positive')     # else block execute default if all the if blocks are false.

Enter any number:-5
The number is not positive

In [10]:
x=int(input('enter the number between 0 and 10:')) 
if x<=5:
    print('the number is lessthan or equal to 5')
elif x>5 and x<=10:
    print('the number is greater than 5')
else:
    print('plese enter the number between 0 and 10')
# when condition is true then it execute that block and come out.won't execute next statement.
# condition is False then only it check the next statement.

enter the number between 0 and 10:51
plese enter the number between 0 and 10

In [11]:
l=[1,2,3,4,5]
if 1 in l:
    print('addition')
if 3 in l:
    print('substraction')
if 4 in l:
    print('multiplication')
elif 5 in l:
    print('modulus')

addition
substraction
multiplication

In [13]:
l=[1,2,3,4,5]
if 10 in l:
    print('addition')
elif 3 in l:
    print('substraction')
elif 4 in l:
    print('multiplication')
elif 5 in l:
    print('modulus')
# more than one condition is true then it execute very first condition.it won't check next condition

substraction

In [14]:
l=[1,2,3,4,5]
if 10 in l:
    print('addition')
elif 3 in l:
    print('substraction')
elif 4 in l:
    print('multiplication')
else 5 in l:
    print('modulus')

SyntaxError: invalid syntax (3409928290.py, line 8)

In [15]:
l=[1,2,3,4,5]
if 10 in l:
    print('addition')
elif 3 in l:
    print('substraction')
elif 4 in l:
    print('multiplication')
else:
    print('modulus')

substraction

- compound condition means combination of more than one condition using and,or,not.

In [16]:
a=10
if a==10 or a<10:
    print('try to do something')

try to do something

# String in Python
- In Python, a string is a sequence of characters enclosed within either **single quotes (' ')**, **double quotes (" ")**, or **triple quotes (''' ''' or """ """)**. Strings are used to represent text and are one of the fundamental data types in Python. Since Python treats text as a sequence of characters, strings can be indexed, sliced, and manipulated in various ways.

In [1]:
single_quoted_str='Hello universe'
print(single_quoted_str)

Hello universe

In [2]:
double_quoted_str="welcome to data science"
print(double_quoted_str)

welcome to data science

In [3]:
# usually triple quote is used for multiline string
triple_quoted_str='''python is general purpose,
high level,objective oriented,dynamically typed
and interpreted programming language'''
print(triple_quoted_str)

python is general purpose,
high level,objective oriented,dynamically typed
and interpreted programming language

### Accessing substring from a string
#### indexing
- indexing is used to extract or access specified character from the string.
- square brackets are used to access the elements from string.

     - There are two type of indexing:
     
          - 1.Positive indexing
          - 2.Negative indexing

In [23]:
# here character in the strings have index position. 0 for the first character.
s='Tatireddy Ravi'
print(s[0])

T

- Indexing in Python strings starts from 0 for the first character, -1 for the last character, -2 for the second last character, and so on. You can access a character at a specific index by using **square brackets [ ] with the index inside**.

In [30]:
print(s[4]) # Positive indexing

r

In [31]:
print(s[-1]) # Negative indexing

i

**len()** :In Python, len() is a built-in function that is used to determine the length of a sequence or collection, such as strings, lists, tuples, sets, and dictionaries. The len() function returns the number of elements or characters present in the given sequence.

In [26]:
len(s)

14

In [27]:
print(s[14])

IndexError: string index out of range

In [28]:
print(s[len(s)-1])

i

In [29]:
print(s[-4])

R

### slicing
- Slicing allows you to extract a substring from a string based on a range of indices. The syntax for slicing is **[start:stop:step]**, where start is the index of the first character you want to include, stop is the index of the first character you want to exclude, and step is the interval between characters.

In [32]:
s='Hello python'
print(s[0:5]) # characters from index 0 to 4

Hello

In [33]:
print(s[6:]) # characters from index 6 to the end.

python

In [34]:
print(s[:5]) # characters from begining index to index 4.

Hello

In [35]:
print(s[::2]) # every second character.

Hlopto

In [36]:
print(s[::-1]) # Reverse the string.

nohtyp olleH

In [37]:
print(s[0:100])

Hello python

In [38]:
print(s[:])

Hello python

In [39]:
print(s[-1:-4])

In [40]:
s[0:300:-1]   #traverse direction is 0 to 300
               # jump is negative direction so that there is a conflict.

''

In [41]:
s[-1:-4]  #default jump size is positive so that there is a conflict.

''

In [42]:
s[-1:-4:-1]   #negative jump of 1

'noh'

In [43]:
s[-5:-1:2]

'yh'

In [44]:
s[-5:-1:-1]

''

In [22]:
"ravi"*3   # to repeat string 'n' no.of times

'raviraviravi'

In [23]:
"ravi"+"tatireddy"  #concatination of two strings

'ravitatireddy'

In [24]:
"ravi"*"tatireddy"

TypeError: can't multiply sequence by non-int of type 'str'

### Editing and deleting elements in a string

In [45]:
s='Tatireddy Rave'
s[13]='i'
# This will throw an error because strings are not editable in python.
# Hence strings are immutable data type.
# immutable= can not be changed in the memory location.

TypeError: 'str' object does not support item assignment

In [46]:
s="ravi"
# Here we are reassigning the data value.
# We are not modifying the existing string.

In [47]:
del s

In [48]:
print(s)

NameError: name 's' is not defined

### Python string methods

In [2]:
a='tatireddy ravi'
a.capitalize() # Converts the first character to upper case

'Tatireddy ravi'

In [4]:
a='TATIREDDY Ravi'
a.casefold()  # converts the string into lower case

'tatireddy ravi'

In [10]:
a.center(50,'#') # Returns a centered string

'##################TATIREDDY Ravi##################'

In [9]:
a.center(67,'*')

'***************************TATIREDDY Ravi**************************'

In [12]:
a='tatireddy ravi'
a.count('i') # Returns the number of times the specified value present in the string.

2

In [27]:
b="doing something is better than doing nothing"
b.count('doing',5)

1

In [28]:
b="doing something is better than doing nothing"
b.count('doing',5,15)

0

In [16]:
x='Always be have hope in hopeless situation untill you reach your goal'
x.encode()  # Returnds an encoded version of string

b'Always be have hope in hopeless situation untill you reach your goal'

In [19]:
x.endswith('l') # Returns true if the string ends with the specified value.

True

In [20]:
x.endswith('m')

False

In [21]:
#Sets the tab size of the string
s='R\tA\tV\tI'
print(s.expandtabs())
print(s.expandtabs(8))
print(s.expandtabs(3))

R       A       V       I
R       A       V       I
R  A  V  I

In [23]:
z='tatireddy ravi'
z.find('i')  # searches the string for a specified value and returns first index position of where it was found.

3

In [30]:
z.find("i",5,14)

13

In [35]:
z.find("i",5,13) #the find() method returns -1 if the value is not found.

-1

In [32]:
#Formats specified values in a string
"my name is {fname},i am {age}".format(fname="ravi",age=30)

'my name is ravi,i am 30'

In [33]:
"my name is {0},i am {1}".format("madhu",31)

'my name is madhu,i am 31'

In [34]:
"my name is {},i am {}".format("eshwar",1)

'my name is eshwar,i am 1'

In [38]:
# the index() method is almost same as find() method,the only difference is 
#the find() method returns -1 if the specified value is not found where as the index() method gives error.
p='my name is eswar prasadh reddy'
p.index('i')

8

In [42]:
p.index('r')

15

In [40]:
p.index('reddy')

25

In [43]:
p.index('z')

ValueError: substring not found

In [45]:
q='ravi'
q.isalpha() 
# Returns true if all characters in the string are alphabet

True

In [46]:
q='ravi '
q.isalpha()

False

In [47]:
q="ravi123"
q.isalpha()

False

In [50]:
r='123456'
r.isnumeric()
# Returns true if all the characters in the string are numeric.

True

In [51]:
r='ravi16295 '
r.isalnum()

False

In [49]:
a='tatireddy ravi'
a.isdecimal()

False

In [50]:
'22'.isdecimal()

True

In [51]:
"hello universe".isidentifier()
# here space is there in between hello and world so it is not valid identifier

False

In [52]:
"hello_universe".isidentifier()

True

In [53]:
'Trepy29'.isdigit()

False

In [54]:
'29082023'.isdigit

In [55]:
'29082023'.isdigit()

True

In [57]:
s='time is most valuable than anything in the universe'
s.split()
# Return a list of the words in the string, using sep as the delimiter string.

['time', 'is', 'most', 'valuable', 'than', 'anything', 'in', 'the', 'universe']

In [59]:
s.split('i')  # Here 'i' is the delimiter

['t', 'me ', 's most valuable than anyth', 'ng ', 'n the un', 'verse']

In [60]:
'hello,universe'.split(',')

['hello', 'universe']

In [64]:
# it is a reverse of split function.it concatinate multiple strings.
''.join(['time', 'is', 'most', 'valuable', 'than', 'anything', 'in', 'the', 'universe'])

'timeismostvaluablethananythingintheuniverse'

In [65]:
' '.join(['time', 'is', 'most', 'valuable', 'than', 'anything', 'in', 'the', 'universe'])

'time is most valuable than anything in the universe'

In [66]:
'/'.join(['time', 'is', 'most', 'valuable', 'than', 'anything', 'in', 'the', 'universe'])

'time/is/most/valuable/than/anything/in/the/universe'

In [67]:
s="        ravi      "
print(s)

        ravi

In [69]:
# The strip() method removes the leading and trailing white space in the string.
s.strip()

'ravi'

In [73]:
s

'        ravi      '

In [74]:
s.lstrip()  # it removes leading whitespace

'ravi      '

In [76]:
s.rstrip() # it removes trailing whitespace

'        ravi'

In [71]:
# The replace() method replaces a string with another string
r='Tatireddy Rave'
r.replace('e','i')

'Tatiriddy Ravi'

In [72]:
'Tatireddy Ravi'.replace('Ravi','Eshwar Prasadh Reddy')

'Tatireddy Eshwar Prasadh Reddy'

## List
- In python,list is a built-in-data structure that allowes us to store and organize collection of data. Lists are ordered and mutable(changeable). Lists can contain elements of different data type (heterogeneous data) and allow duplicate elements.They are one of the most frequently used data structure in python due to their flexibility and versetility.
- Lists are created by using either **list()** constructor or square brackets **'[  ]'**, which contain sequence of values separated by comma. 
- array can store homogeneous data where as list can store heterogeneous data.

In [3]:
# to know more about list run below code

list?

### Creating a list

- create list using square brackets

In [20]:
list1=[]
print(list1)

[]

In [21]:
type(list1)

list

In [16]:
# list with homogeneous data.
list2=[1,2,3,4,5]
print(type(list2),list2)

<class 'list'> [1, 2, 3, 4, 5]

In [17]:
# List with heterogeneous data.
list3=['Hello universe',123,45.6,7+8j,True]
print(type(list3),list3)

<class 'list'> ['Hello universe', 123, 45.6, (7+8j), True]

- Creating list using list() constructor

In [19]:
list4=list()
print(list4)

[]

In [22]:
type(list4)

list

In [23]:
list5=list(('Ravi'))
print(list5)

['R', 'a', 'v', 'i']

In [25]:
# note the double round-brackets
fruits=list(('apples','oranges','bananas','grapes'))
print(fruits)

['apples', 'oranges', 'bananas', 'grapes']

In [26]:
# Lists allow duplicate values
fruits=list(('apples','oranges','bananas','grapes','apples','oranges'))
print(fruits)

['apples', 'oranges', 'bananas', 'grapes', 'apples', 'oranges']

### List length
- You can get the length of a list using the **len()** function.

In [27]:
len(fruits)

6

### Multi-dimensional list
- A multidimensional list (also known as a nested list) is a list that contains other lists as its elements. This concept allows you to create a structure resembling a matrix or a grid, where each element can itself be a list.

In [31]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
print(matrix[1][2])  # Accessing the element at row 1, column 2 (value 6)

6

In [34]:
# Creating a 3D list (3x3x3)
cube = [
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ],
    [
        [19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]
    ]
]
print(cube)

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[10, 11, 12], [13, 14, 15], [16, 17, 18]], [[19, 20, 21], [22, 23, 24], [25, 26, 27]]]

In [35]:
cube[1][2][0]  # Accessing the element at layer 1, row 2, column 0 (value 16)

16

- Multidimensional lists are used to represent various data structures like matrices, tables, grids, and more complex datasets. They are particularly useful in situations where you need to organize data with multiple dimensions and hierarchies.

### Accessing Elements:
- List elements are accessed using indexing, where the index starts from 0 for the first element.

In [36]:
my_list = [1, 2, 3, 4, 5]
# first_element
print(my_list[0])

1

In [37]:
# third_element 
print(my_list[2])

3

In [38]:
# last_element 
print(my_list[-1])  # Negative index counts from the end

5

In [41]:
print(my_list[8]) # we will get an index error because the given index is out of range

IndexError: list index out of range

In [42]:
print(my_list[-6])

IndexError: list index out of range

### Slicing:
- You can extract a portion of a list using slicing. The syntax is **list[start:stop:step]**, where **start** is inclusive, **stop** is exclusive, and **step** specifies the interval.

#### Positive indexing
- the index starts from 0 for the first element.

In [39]:
print(my_list[1:4])  # Elements at index 1, 2, 3

[2, 3, 4]

In [40]:
print(my_list[::2])  # Elements with a step of 2

[1, 3, 5]

In [43]:
# Return the third, fourth, and fifth item:
fruits=['apples',50,'oranges',80,'bananas',120,'grapes',250]
print(fruits[2:5])

['oranges', 80, 'bananas']

In [47]:
# By leaving out the start value, the range will start at the first item:
fruits=['apples',50,'oranges',80,'bananas',120,'grapes',250]
print(fruits[:50])

['apples', 50, 'oranges', 80, 'bananas', 120, 'grapes', 250]

In [45]:
# By leaving out the end value, the range will go on to the end of the list:
fruits=['apples',50,'oranges',80,'bananas',120,'grapes',250]
print(fruits[2:])

['oranges', 80, 'bananas', 120, 'grapes', 250]

In [46]:
# Elements with a step of 2
fruits=['apples',50,'oranges',80,'bananas',120,'grapes',250]
print(fruits[::2])

['apples', 'oranges', 'bananas', 'grapes']

#### Negative indexing

- Negative indexing means start from the end
- -1 refers to the last item, -2 refers to the second last item etc.

In [49]:
print(fruits[-1])

250

In [50]:
print(fruits[-len(fruits)])

apples

In [51]:
print(fruits[-4])

bananas

In [52]:
print(fruits[-4:-1])

['bananas', 120, 'grapes']

In [53]:
print(fruits[-1:-4:])

[]

In [54]:
print(fruits[-1:-4:-1])

[250, 'grapes', 120]

In [48]:
# to print in reverse direction
print(fruits[::-1])

[250, 'grapes', 120, 'bananas', 80, 'oranges', 50, 'apples']

In [56]:
fruits

['apples', 50, 'oranges', 80, 'bananas', 120, 'grapes', 250]

In [63]:
# extracting perticular data type from list
for i in fruits:
    if type(i)==str:
        print(i)

apples
oranges
bananas
grapes

### Set
- A set is a built-in data structure in Python that represents an unordered collection of unique elements. Sets are useful when you want to store a collection of items while ensuring that each item appears only once. Sets are commonly used for membership testing, removing duplicates from sequences, and performing mathematical operations like union, intersection, and difference.A set is a collection which is unordered, unchangeable*, and unindexed.

### Dictionary
- In python, dictionary is a built-in-data structure that stores data values in key value pairs. Tuples are ordered and changeable(mutable) and not allow duplicates values.The values in dictionary items can be of any data type.
- Dictionaries are created by using **dict()** constructor or curly brackets **'{ }'** and have keys and values.

#### Creating dictionary using curly bracket.

In [8]:
my_dict={}
type(my_dict)

dict

In [9]:
d={}
type(d)

dict

In [10]:
d={1,2,3}
type(d)

set

In [4]:
d={5:"ravi"}

In [5]:
d1={"key1":16295,"key2":"ravi","key3":[1,3,2,5,4]}
print(d1)

{'key1': 16295, 'key2': 'ravi', 'key3': [1, 3, 2, 5, 4]}

#### Creating dictionary using dict() constructor

In [11]:
d2=dict((key1=16295,key2="ravi",key3=[1,3,2,5,4]))
print(d2)

SyntaxError: invalid syntax (580445723.py, line 1)

In [12]:
d2=dict(key1=16295,key2="ravi",key3=[1,3,2,5,4])
print(d2)

{'key1': 16295, 'key2': 'ravi', 'key3': [1, 3, 2, 5, 4]}

In [17]:
d3={#:[1,2,23.5,5+6j,True,(1,2,3)]}

SyntaxError: unexpected EOF while parsing (2091544098.py, line 1)

In [18]:
d3={@:[1,2,23.5,5+6j,True,(1,2,3)]}

SyntaxError: invalid syntax (3045528519.py, line 1)

In [19]:
d3={_4:[1,2,23.5,5+6j,True,(1,2,3)]}

NameError: name '_4' is not defined

- key does not allow the special characters
- vulues may be list,tuple, set,primitive data type or combination of all

- Dictionaries can have keys and values of various types, including strings, numbers, and tuples. However, keys must be immutable types (strings, numbers, tuples, etc.)

In [20]:
d2={'@':[1,2,23.5,5+6j,True,(1,2,3)]}  # here it is a string so that it will allowed

- Dictionaries cannot have two items with the same key.
- Duplicate key values will overwrite existing key values

In [21]:
d3={"key1":2+3j,"key2":[1,2,3,4],"key1":"ravi"}

In [22]:
d3['key1']

'ravi'

In [23]:
d3

{'key1': 'ravi', 'key2': [1, 2, 3, 4]}

In [24]:
d4={"key1":2+3j,"key2":[1,2,3,4],"key3":2+3j}

In [25]:
d4  # two same values with different keyname is allow

{'key1': (2+3j), 'key2': [1, 2, 3, 4], 'key3': (2+3j)}

#### Dictionary Length
- To determine how many items a dictionary has, use the **len()** function

In [14]:
len(d2)

3

#### Accessing Values
- Values in a dictionary are accessed using their corresponding keys.

In [13]:
d1['key1']

16295

- There is also a method called **get()** that will give you the same result

In [15]:
d2.get('key2')

'ravi'

In [26]:
# You can create dictionaries within dictionaries to represent more complex data structures.
d5={"name":"Tatireddy Reavi","mob_no":123456789,"mail_id":"newage.ravieee@gmail.com",
   "key1":[1,2,3,5],"key2":(2,5,8,7),"key3":{1,2,2,1,3,3,3,5,4,4,6},"key4":{"a":2,"b":6,"c":4}}

In [27]:
print(d5)

{'name': 'Tatireddy Reavi', 'mob_no': 123456789, 'mail_id': 'newage.ravieee@gmail.com', 'key1': [1, 2, 3, 5], 'key2': (2, 5, 8, 7), 'key3': {1, 2, 3, 4, 5, 6}, 'key4': {'a': 2, 'b': 6, 'c': 4}}

In [28]:
d5['key4']

{'a': 2, 'b': 6, 'c': 4}

In [29]:
d5['key4']['a']

2

In [46]:
d1['key1sdfbs']  # it give error if key is not present in a dict

KeyError: 'key1sdfbs'

In [48]:
d1.get('key1dggs')  # it won't give error if key is not present

### Dictionary Methods:
- Dictionaries have various methods for performing operations, such as **.keys()**, **.values()**, and **.items()**.

In [30]:
d5.keys()  # it gives list of all the keys

dict_keys(['name', 'mob_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [31]:
d5.values()  # it gives list of values

dict_values(['Tatireddy Reavi', 123456789, 'newage.ravieee@gmail.com', [1, 2, 3, 5], (2, 5, 8, 7), {1, 2, 3, 4, 5, 6}, {'a': 2, 'b': 6, 'c': 4}])

In [32]:
d5.items() # it gives key-values as a list of tuples

dict_items([('name', 'Tatireddy Reavi'), ('mob_no', 123456789), ('mail_id', 'newage.ravieee@gmail.com'), ('key1', [1, 2, 3, 5]), ('key2', (2, 5, 8, 7)), ('key3', {1, 2, 3, 4, 5, 6}), ('key4', {'a': 2, 'b': 6, 'c': 4})])

#### Adding a new item to a dictionary

In [35]:
d6={"key1":"ravi","key2":[1,2,3]}

In [36]:
d6["key3"]="trepy"  # adding new item to a dictionary

In [37]:
print(d6)

{'key1': 'ravi', 'key2': [1, 2, 3], 'key3': 'trepy'}

In [38]:
d6["key4"]=(1,5,6,9)

In [39]:
print(d6)

{'key1': 'ravi', 'key2': [1, 2, 3], 'key3': 'trepy', 'key4': (1, 5, 6, 9)}

In [40]:
d6["key1"]="madhu"  # if key is already available then it will update

In [41]:
print(d6)

{'key1': 'madhu', 'key2': [1, 2, 3], 'key3': 'trepy', 'key4': (1, 5, 6, 9)}

### Adding and Removing Items:

- **'.update(other_dict)'**: Updates the dictionary with key-value pairs from another dictionary.

In [42]:
d7={"key1":"transients","key2":"harmonics"}
d8={"key3":"voltage fluctuations","key4":"current fluctuations"}

In [44]:
d7.update(d8)

In [45]:
print(d7)

{'key1': 'transients', 'key2': 'harmonics', 'key3': 'voltage fluctuations', 'key4': 'current fluctuations'}

- **'.pop(key)'**: Removes the key-value pair associated with the specified key and returns the value.

In [47]:
d7+d8   # concatenation of two dictionaries are not possible

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [49]:
# The pop() method removes the specified item from the dictionary.
d7.pop("key3")

'voltage fluctuations'

In [50]:
print(d7)

{'key1': 'transients', 'key2': 'harmonics', 'key4': 'current fluctuations'}

- **'.popitem()'**: Removes and returns an arbitrary key-value pair from the dictionary.

In [52]:
d7.pop()

TypeError: pop expected at least 1 argument, got 0

In [51]:
d7.popitem()

('key4', 'current fluctuations')

- **'.clear()'**: Removes all key-value pairs from the dictionary.

In [53]:
d7.clear()

In [54]:
d7

{}

- **'.copy()'**:The copy() method returns a copy of the specified dictionary.

In [55]:
d9=d8.copy()

In [56]:
print(d9)

{'key3': 'voltage fluctuations', 'key4': 'current fluctuations'}

- **'.fromkeys()'**:Returns a dictionary with the specified keys and value.

In [57]:
keys=("harmonics","transients","sag","swell")
values="PQ_issue"

In [58]:
d7.fromkeys(keys,values)

{'harmonics': 'PQ_issue',
 'transients': 'PQ_issue',
 'sag': 'PQ_issue',
 'swell': 'PQ_issue'}

- Same example as above, but without specifying the value

In [59]:
d7.fromkeys(keys)  #value is Optional for all keys. Default value is None

{'harmonics': None, 'transients': None, 'sag': None, 'swell': None}

### Dictionary Comprehensions

In [61]:
{x: x ** 2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Uses of Dictionaries
- Dictionaries are used in various scenarios, such as:

    - Storing settings and configuration data.
    - Counting occurrences of items in a sequence (using the Counter class from the collections module).
    - Representing structured data in a format similar to JSON.
    - Mapping keys to values, such as creating a lookup table.
    
- Dictionaries are highly versatile and efficient data structures for organizing and accessing data by meaningful labels (keys). They are widely used in Python programming for a variety of tasks due to their ability to represent complex relationships between data items.