# Basic Python

### outline of DAY-1 Python document
- what is python and its key features.
- comment in python.
- output and input function in python.
- variable,different ways to assining value to a variable and rules to define variable names.
- data types in python.
- type casting in python.

### What is Python?

. Python is General purpose, High level, Dynamically typed, and Interpreted programming language.It was created by Guido van Rossum and first released in 1991.

- **General Purpose Language:** It is not specific to any particular area. It can be used to any type of application.


- **High Level Language:** it is a programmer friendly language. Not machine friendly language. All the low-level activities like memory management, security, destroying objects etc., can be taken care by language itself.


- **Dynamically Typed Language:** based on the provided value automatically type will be consider. no need to give type of variable 
explicitly.

### Here are some key features of Python:



- **Simplicity:**Python has a straightforward syntax that is easy to understand, making it an ideal language for beginners and experienced programmers alike.


- **Readability:** Python code is designed to be highly readable, with a clear and expressive syntax that closely resembles English. This characteristic allows developers to write code more quickly and maintain it more easily.


- **Interpretation:** Python is an interpreted language, which means that it does not require a compilation step. Instead, Python code is executed line by line by an interpreter, which makes development and debugging faster.


- **Versatility:** Python is a versatile language used in various domains such as web development, scientific computing, data analysis, artificial intelligence, machine learning, and more. It has a vast standard library and a rich ecosystem of third-party packages that extend its capabilities.


- **Cross-platform compatibility:** Python is available on multiple platforms, including Windows, macOS, Linux, and others. This portability allows developers to write code on one platform and run it on another without significant modifications.


- **Large Community and Resources:** Python has a vast and active community of developers who contribute to its growth and development. This community provides extensive documentation, tutorials, libraries, and frameworks that make Python even more powerful and accessible.


Python supports multiple programming paradigms, including procedural, functional, and object-oriented programming. It offers a wide range of built-in data types and structures, such as lists, dictionaries, tuples, and sets. Additionally, Python has extensive support for handling strings, file I/O, networking, and more.
Overall, Python's simplicity, readability, and versatility have contributed to its popularity as a programming language for a wide range of applications and use cases.

### What is the Scripting Language?

Programming languages employ either of the two specialized programs to translate code:

- **Compiler:** A compiler translates the entire code before executing the program. It converts the source code into machine code or an intermediate representation, which can be directly executed by the computer's processor.


- **Interpreter:** An interpreter, on the other hand, translates and executes the code line-by-line or instruction-by-instruction. It reads each line of code, interprets it, and executes the corresponding actions in real-time.

A scripting language is a type of programming language that utilizes an interpreter to translate its source code. The interpreter processes the code by executing each line sequentially, similar to how a script for a play or an audition is followed step by step. This characteristic is why it is referred to as a "scripting language." Python, for instance, uses an interpreter to translate and run its code, which classifies it as a scripting language.

### Comments
- Comments can be used to prevent the execution of code, and to explain python code.
- HASH(**#**) symbol- is used for single line comment and TRIPLE QUOTES(**''' ''' or """ """**) -is used for multiline comments.

In [1]:
print('Hello universe') # print function used to display the output in console.

Hello universe

In [2]:
# print('Hello universe')
print("Hello ravi")

Hello ravi

In [3]:
'''This is a comment 
writen in more than
one line'''
print("om namo budhaya")

om namo budhaya

### Print() and input() function

- in python the '**print()**' function can be used to display the output on console or terminal. it takes one or more arguments
and print them to the output.

- The basic syntax is: **print(value1,value2,.....,sep='',end='\n')**


- '**value1, value2, ...:** The values to be printed. You can pass multiple values separated by commas.


- **sep=' ':** The separator between values. By default, it is a space character.


- **end='\n':** The character(s) to be printed at the end. By default, it is a newline character (\n).

In [4]:
print('Hello nature')

Hello nature

In [5]:
print("Good day",7)

Good day 7

In [6]:
print("1+6")

1+6

In [7]:
print("Data science")

Data science

In [8]:
print("Hello world",'I am Ravi',sep='#')

Hello world#I am Ravi

In [9]:
print("Hello world",'I am Ravi',sep='\'#\'')

Hello world'#'I am Ravi

In [10]:
print("Hello world",'I am Ravi','madhu',sep='\n')

Hello world
I am Ravi
madhu

In [11]:
print(This is my first python program")

SyntaxError: invalid syntax (3121532120.py, line 1)

In [12]:
print("This is my first python program)

SyntaxError: EOL while scanning string literal (1770034500.py, line 1)

In [13]:
print(This is my first python program)

SyntaxError: invalid syntax (2598292411.py, line 1)

In [14]:
print(This is my first python program')

SyntaxError: invalid syntax (262762411.py, line 1)

In [15]:
print("This is my first python program"

SyntaxError: unexpected EOF while parsing (2738201397.py, line 1)

In [16]:
print"This is my first python program")

SyntaxError: invalid syntax (388533908.py, line 1)

In [17]:
print "my name is ravi"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("my name is ravi")? (4032209568.py, line 1)

In [18]:
print(" my\t name\n is ravi\n")
print("-Data scientist")

 my	 name
 is ravi

-Data scientist

In [19]:
# print multiple values
x='Machine learning'
y="Deep learning"
print(x,y)

Machine learning Deep learning

In [20]:
x='Machine learning\n'
y='Deep learning'
print(x,y)

Machine learning
 Deep learning

In [22]:
x='Machine learning\n'
y='Deep learning'
print(x,y,sep=' ')

Machine learning
 Deep learning

In [23]:
# separation of print values in print function
print('numpy','pandas','matplotlib')

numpy pandas matplotlib

In [24]:
# we are using @ symbol to separate the values
print("numpy","pandas","matplotlib",sep='@')

numpy@pandas@matplotlib

In [25]:
# we are using ! symbol to separate the values
print('ML','DL','CV','NLP',sep='!')

ML!DL!CV!NLP

In [26]:
print("python",5,True) # print is a flexible function

python 5 True

In [27]:
print("Become Data science by learning:","Python","Statistics",
      "Machine learning","Deep learning")

Become Data science by learning: Python Statistics Machine learning Deep learning

In [28]:
print("Become Data science by learning:","Python","Statistics",
      "Machine learning","Deep learning",sep='\n')

Become Data science by learning:
Python
Statistics
Machine learning
Deep learning

In [29]:
# To print the values in new line
print("Become Data science by learning:\n","Python\n","Statistics\n",
      "Machine learning\n","Deep learning")

Become Data science by learning:
 Python
 Statistics
 Machine learning
 Deep learning

In [30]:
# To print the values in new line
print('Become Data science by learning:','Python','Statistics',
      'Machene learning','Deep learning',sep='\n')

Become Data science by learning:
Python
Statistics
Machene learning
Deep learning

In [31]:
print('Machine learning')
print('Deep learning')
print('Computer vision')
print('Natural language processing') 

# Here the values are printed in new line every time

Machine learning
Deep learning
Computer vision
Natural language processing

In [32]:
print("Machene learning",end=' ')
print("Deep learning",end=' ')
print("Computer vision") 

# Here the values are printed in same line

Machene learning Deep learning Computer vision

In [33]:
print("Machene learning",end=' 2.')
print("Deep learning",end=' 3.')
print("Computer vision")

Machene learning 2.Deep learning 3.Computer vision

In [34]:
print("Machene learning",end=' *')
print("Deep learning",end='\n')
print("Computer vision")

Machene learning *Deep learning
Computer vision

In [35]:
print("Machene learning",end=' \n')
print("Deep learning",end='\t ')
print("Computer vision")

Machene learning
Deep learning	 Computer vision

### Variables in python
- Variable is a container used for storing data values.
- '**=**' symbol is used to assigne data value to a variable.

In [36]:
'''Variable is a local istance or global 
instance where we can store the data value.'''
a=10
b='ravi '
print(a*b)
print(a*b,sep='@')

ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi
ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi

In [37]:
'Ravi'-' Tatireddy'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [38]:
name='Tatireddy ravi'
print(name)
print('name')

Tatireddy ravi
name

In [39]:
x='ravi'
y=12
z=34.5
print(x,y,z)

ravi 12 34.5

In [40]:
print(x,y,z,sep='\n')

ravi
12
34.5

### other ways of assining a value to a variable

- List form assining

In [41]:
x,y=[2,3]
print(x)
print(y)

2
3

In [42]:
x,y=[2,3,8]
print(x)
print(y)

ValueError: too many values to unpack (expected 2)

In [43]:
x,y,z=[2,3]
print(x)
print(y)

ValueError: not enough values to unpack (expected 3, got 2)

- Tupple form assining

In [38]:
x,y=(2,3)
print(x)
print(y)

2
3

In [44]:
x,y=(2,3,8)
print(x)
print(y)

ValueError: too many values to unpack (expected 2)

In [45]:
x,y,f=(2,3)
print(x)
print(y)

ValueError: not enough values to unpack (expected 3, got 2)

In [39]:
# creating multiple variables in a single line
a,b,c=30,'my name is','ravi'
print(a)
print(b)
print(c)

30
my name is
ravi

In [46]:
# creating multiple variables in a single line
a,b,c=30,'my name is'
print(a)
print(b)
print(c)

ValueError: not enough values to unpack (expected 3, got 2)

In [47]:
# creating multiple variables in a single line
a,b=30,'my name is','ravi'
print(a)
print(b)
print(c)

ValueError: too many values to unpack (expected 2)

In [49]:
a,b,c=30,'my name is','ravi'
print(a,b,c)

30 my name is ravi

In [50]:
# values of more than one variable gives in the form of tupple.
a,b,c

(30, 'my name is', 'ravi')

# Variable names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

**Rules for Python variables:**
- A variable name must start with a letter or the underscore(_) character.
- A variable name cannot start with a number.
- A variable name cannot be a keyword or reserved word.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable names are case-sensitive (age, Age and AGE are three different variables).
- space is not allowed in the variable names.

In [58]:
1b='ravi'

SyntaxError: invalid syntax (3799489249.py, line 1)

In [59]:
b='tatireddy ravi'

In [60]:
@=12

SyntaxError: invalid syntax (1379519580.py, line 1)

In [61]:
_=12

In [62]:
__=12

In [63]:
email id=16295     # space is not allowe in variable names

SyntaxError: invalid syntax (562385664.py, line 1)

In [69]:
import keyword
keyword_list=keyword.kwlist
print(keyword_list)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [70]:
name="ravi"
email_id="newage.ravi@gmail.com"
emp_id=16295
password='password'

In [71]:
x=str('Ravi') # x is 'Ravi'
y=int(2) # y is 2
z=float(3) # z is 3.0
print(x,"is string value")
print(y,"is integer number")
print(z,'is floating point number')

Ravi is string value
2 is integer number
3.0 is floating point number

In [73]:
print(f"{x} is string value")
print(f"{y} is integer value")
print(f"{z} is floating point number")

Ravi is string value
2 is integer value
3.0 is floating point number

In [74]:
print(f'{z} is floating point number,{y} is integer number,and {x} is string value')

3.0 is floating point number,2 is integer number,and Ravi is string value

In [75]:
print("The string value is:{}".format(x))

The string value is:Ravi

In [53]:
print("The string value is:{}".format(x,y,z)) 

# if index value is not specified then it will take automatically from 0 index

The string value is:Ravi

In [76]:
print("The string value is:{1}".format(x,y,z)) 

# prints based on index value

The string value is:2

In [77]:
print("The string value is:{}".format())

IndexError: Replacement index 0 out of range for positional args tuple

In [78]:
print('{} is string,{} is integer value,and {} is floating point number'.format(x,y,z))

Ravi is string,2 is integer value,and 3.0 is floating point number

In [79]:
print('{} is string,{} is integer value,and {} is floating point number'.format(z,y,z))

3.0 is string,2 is integer value,and 3.0 is floating point number

In [80]:
print('{} is string,{} is integer value,and {} is floating point number'.format(y,z))

IndexError: Replacement index 2 out of range for positional args tuple

In [81]:
print('{} is string,{} is integer value,and {} is floating point number'.format(z,y,x))

3.0 is string,2 is integer value,and Ravi is floating point number

### input Function
- The **input()** is used to take user input from console or command prompt. The input function reads line of text from console and 
  returns it as a string.
- The syntax of input function is as fallows:

 **variable_name=input(prompt)**

Here the **variable_name** is name of the variable that can store the user-input, prompt is an optional string that will be displayed to the user to prompt them for input.

In [60]:
a=input()

In [82]:
x=input('Enter your name:')
y=input("Enter your age:")
z=input('Enter your home town:')
print('So',x,y,'from',z)

Enter your name:Trepy
Enter your age:2
Enter your home town:Santhabayali
So Trepy 2 from Santhabayali

In [83]:
type(y) # Here the integer number also read as string

str

### Type function

- **type()** function is used to get the type of the variable.

In [84]:
type(242)

int

In [85]:
type(242.264)

float

In [86]:
type('ravi')

str

In [87]:
type(3+5j)

complex

In [88]:
type(True)

bool

In [89]:
type([1,2,3,4,5,6])

list

In [90]:
type((7,8,9,10))

tuple

In [91]:
type({'name':'Ravi','Roll_no':'18PHD0264'})

dict

In [92]:
type({1,1,2,3,4,5,6})

set

### Python Data Structures or Data types

- Python has the following data types built-in by default,

    - Text Type:	str
    - Numeric Types:	int, float, complex
    - Sequence Types:	list, tuple, range
    - Mapping Type:	dict
    - Set Types:	set, frozenset
    - Boolean Type:	bool
    - Binary Types:	bytes, bytearray, memoryview
    - None Type:	NoneType

In [93]:
str('Hello universe')

'Hello universe'

In [94]:
int(1234567890)

1234567890

In [95]:
int(16295,2145) # Give single value only otherwise it give an error

ValueError: int() base must be >= 2 and <= 36, or 0

In [96]:
float(1234)

1234.0

In [101]:
float(1234,895)

TypeError: float expected at most 1 argument, got 2

In [97]:
int(23.5)

23

In [98]:
complex(4,8)

(4+8j)

In [99]:
complex(1,2,8) # observe the error

TypeError: complex() takes at most 2 arguments (3 given)

In [100]:
list("ravi",24,56.8,True)

TypeError: list expected at most 1 argument, got 4

In [102]:
list(('ravi',30,40.3,True))

['ravi', 30, 40.3, True]

In [103]:
tuple('Madhu',30,50.6,False)

TypeError: tuple expected at most 1 argument, got 4

In [104]:
tuple(('Madhu',30,50.7,False))

('Madhu', 30, 50.7, False)

In [105]:
range(9)

range(0, 9)

In [106]:
print(range(9))

range(0, 9)

In [107]:
x=range(6)
print(list(x))

[0, 1, 2, 3, 4, 5]

In [108]:
print(tuple(x))

(0, 1, 2, 3, 4, 5)

In [110]:
dict((name='Trepy',age=2,DOB=2023))

SyntaxError: invalid syntax (4132503453.py, line 1)

In [111]:
dict(name='Trepy',age=2,DOB=2023)

{'name': 'Trepy', 'age': 2, 'DOB': 2023}

In [112]:
set(('a',2,2,4,8,5,4))

{2, 4, 5, 8, 'a'}

In [113]:
frozenset(('a',5,5,4,2,2,8,7))

frozenset({2, 4, 5, 7, 8, 'a'})

In [114]:
bool(0)

False

In [115]:
bool(3)

True

In [116]:
bool(4)

True

In [117]:
True+True+True+False+True

4

In [118]:
int(False)

0

In [119]:
int(True)

1

In [120]:
False+False
False+True

1

In [121]:
False+False
False+True
True+True

2

In [122]:
True*True

1

In [123]:
True/False

ZeroDivisionError: division by zero

In [124]:
n=45+6j   # complex= real+imag---> 'j' is  only notation to represent a complex number

In [125]:
type(n)

complex

In [126]:
n.imag

6.0

In [127]:
n.real

45.0

In [128]:
n.conjugate

In [129]:
m=2+3j

In [130]:
n*m

(72+147j)

In [131]:
n+m

(47+9j)

In [132]:
m-n

(-43-3j)

In [133]:
1+'ravi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [134]:
'2'+'RAVI'

'2RAVI'

In [135]:
str(264)+'Ravi'

'264Ravi'

In [136]:
1+1.0

2.0

In [137]:
'Tatireddy'+'Ravi'

'TatireddyRavi'

In [138]:
'Madhu   '*3

'Madhu   Madhu   Madhu   '

In [139]:
'ravi'-'Madhu'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Python type casting
- In Python, type casting (also known as type conversion) is the process of changing the data type of a variable from one type to another. Python provides built-in functions for performing type casting to facilitate seamless operations between different data types. Here are some common type casting functions in Python:

    - **int():** Converts a value to an integer data type.
    - **float():** Converts a value to a floating-point data type.
    - **str():** Converts a value to a string data type.
    - **list():** Converts a value to a list data type.
    - **tuple():** Converts a value to a tuple data type.
    - **bool():** Converts a value to a boolean data type.
    - **dict():** Converts a value to a dictionary data type.
    - **set():** Converts a value to a set data type.
    
- Let's go through some examples to illustrate type casting in Python:

In [140]:
# integer to float
integer_num = 10
float_num = float(integer_num)
print(float_num)  # Output: 10.0

10.0

In [141]:
# Float to integer
float_num = 3.14
integer_num = int(float_num)
print(integer_num)  # Output: 3

3

In [142]:
# integer to string
integer_num = 42
str_num = str(integer_num)
print(str_num)  # Output: "42"

42

In [143]:
# string to integer
str_num = "25"
integer_num = int(str_num)
print(integer_num)  # Output: 25
 
# string to integer(float) is possible only when string is having numerics instead of alphabates

25

In [144]:
str_num='ravi'
int_num=int(str_num)
print(int_num)

ValueError: invalid literal for int() with base 10: 'ravi'

In [145]:
# string to float
str_float = "3.14"
float_num = float(str_float)
print(float_num)  # Output: 3.14

3.14

In [146]:
str_float = "madhu"
float_num = float(str_float)
print(float_num)

ValueError: could not convert string to float: 'madhu'

In [147]:
# list to tuple
list_data = [1, 2, 3, 4]
tuple_data = tuple(list_data)
print(tuple_data)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [148]:
# string to bool
true_str = "True"
false_str = "False"

bool_true = bool(true_str)
bool_false = bool(false_str)

print(bool_true)  # Output: True
print(bool_false) # Output: True (Any non-empty string evaluates to True)

True
True

- Please note that type casting may lead to potential data loss or unexpected behavior if the conversion is not compatible with the data. So, it's essential to use type casting carefully and ensure that the conversion makes sense in the context of your program.

# operators in python
- In Python, operators are special symbols or key used to perform operations on variables, values, or expressions. They enable you to perform arithmetic, logical, and other types of operations. Python supports various types of operators, including:

    **1. Arithmetic Operators:**

     - '**+**' Addition: Adds two operands.
     - '**-**' Subtraction: Subtracts the right operand from the left operand.
     - '**\***' Multiplication: Multiplies two operands.
     - '**/**' Division: Divides the left operand by the right operand (always returns a float).
     - '**//**' Floor Division: Divides the left operand by the right operand, discarding the fractional part (returns integer).
     - '**%**' Modulo: Returns the remainder of the division of the left operand by the right operand.
     - '**\*\***' Exponentiation: Raises the left operand to the power of the right operand.

In [124]:
a=int(input('enter the first value:'))
b=int(input('enter the second value:'))

# adding two numbers

print(a+b)

enter the first value:9
enter the second value:2
11

In [125]:
# subtraction:subtract the right operand from left operand.
print(a-b)

7

In [126]:
# multiplication: multiply two operands.
print(a*b)

18

In [127]:
# division:divides the left operand by right operand(always returns a float)
print(a/b)

4.5

In [128]:
# floor division or integer division: divides the left operand by right operand,discarding the fractional part and 
# returns integer.
print(a//b)

4

In [129]:
# Modulo:returns the remainder of the division of left operand by the right operand.
print(a%b)

1

In [130]:
# Exponentiation:Raises the left operand to the power of the right operand.
print(a**b)

81

**2. Assignment Operators:**
   - '**=**' Assignment: Assigns the value on the right to the variable on the left.
   - '**+=**' Add and Assign: Adds the right operand to the left operand and assigns the result to the left operand.
   - '**-=**' Subtract and Assign: Subtracts the right operand from the left operand and assigns the result to the left operand.
   - '***=**' Multiply and Assign: Multiplies the left operand with the right operand and assigns the result to the left operand.
   - '**/=**' Divide and Assign: Divides the left operand by the right operand and assigns the result to the left operand.
   - '**//=**' Floor Divide and Assign: Performs floor division on the left operand by the right operand and assigns the result to the left operand.
   - '**%=**' Modulo and Assign: Calculates the modulo of the left operand by the right operand and assigns the result to the left operand.
   - '****=**' Exponentiation and Assign: Raises the left operand to the power of the right operand and assigns the result to the left operand.

In [131]:
# Assignment:Assigns the value on the right to the variable on the left.
a=9
print(a)

9

In [132]:
# add and assign:ads the right operand to the left operand and assigns the results to the left operand.
a=9
a+=3
print(a)

12

In [133]:
# subtract and assign:subtract the right operand from left operand and assign the results to the left operand.
a=9
b=2
a-=b
print(a)

7

In [134]:
# Multiply and assign:multiplies the left operand with right operand and assign the results to the right operand.
a=9
b=2
a*=b
print(a)

18

In [135]:
# divide and assign:divides the left operand by the right operand and assign the results to the right ooperand.
a=9
b=2
a/=b
print(a)

4.5

In [136]:
# Floor division:perform floor division on the left operand by the right operand and assign the results to the right operand.
a=9
b=2
a//=b
print(a)  #divides the left operand by right operand,discarding the fractional part and 
# returns integer.

4

In [137]:
# Madulo and assign:calculates madulo of the left operand by the right operand and assign the results to the left operand.
a=9
b=2
a%=b
print(a)

1

In [138]:
# Exponentiation and assign:Raises the left operand to the power of right operand and assign the results to the left operand.
a=9
b=2
a**=b
print(a)

81

**3. Comparison Operators:**
 - The output of comparision operators is always **True** or **False**.
 
      - '**==**' Equal to: Returns True if both operands are equal.
      - '**!=**' Not Equal to: Returns True if the operands are not equal.
      - '**>**' Greater than: Returns True if the left operand is greater than the right operand.
      - '**<**' Less than: Returns True if the left operand is less than the right operand.
      - '**>=**' Greater than or Equal to: Returns True if the left operand is greater than or equal to the right operand.
      - '**<=**' Less than or Equal to: Returns True if the left operand is less than or equal to the right operand.

In [139]:
x=int(input('enter the first number:'))
y=int(input('enter the second number:'))

# Equal to: Returns True if both operands are equal.
print(x==y)

enter the first number:9
enter the second number:5
False

In [140]:
# Not Equal to: Returns True if the operands are not equal.
print(x!=y)

True

In [141]:
# Greater than: Returns True if the left operand is greater than the right operand.
print(x>y)

True

In [142]:
# Less than: Returns True if the left operand is less than the right operand.
print(x<y)

False

In [143]:
# Greater than or Equal to: Returns True if the left operand is greater than or equal to the right operand.
print(x>=y)

True

In [144]:
# Less than or Equal to: Returns True if the left operand is less than or equal to the right operand.
print(x<=y)

False

**4. Logical Operators**: 
- logical operators are used to perform logical operations on boolean values (**True** and **False**). They allow you to combine multiple conditions and evaluate the result based on the truth values of the operands. Python supports three logical operators:

   - '**and**' Logical AND: Returns True if both operands are True.
   - '**or**' Logical OR: Returns True if at least one of the operands is True.
   - '**not**' Logical NOT: Returns True if the operand is False and False if the operand is True.

In [145]:
x=True
y=False

print(x and y)

False

In [146]:
print(x or y)

True

In [147]:
print(not x)

False

In [148]:
print(not y)

True

**5. Membership Operators:**
- membership operators are used to test whether a value belongs to a sequence or collection. They are often used with data types like lists, tuples, sets, and strings to check for the presence of a particular element in the container. Python supports two membership operators:

   - '**in**' Membership: Returns True if a value is found in a sequence (e.g., list, tuple, string).
   - '**not in**' Not in Membership: Returns True if a value is not found in a sequence.

In [149]:
# Membership operators with lists
fruits = ['apple', 'banana', 'orange', 'grape']
print('banana' in fruits)      # Output: True
print('watermelon' not in fruits)  # Output: True

True
True

In [150]:
# Membership operators with strings
message = "Hello, world!"
print('o' in message)        # Output: True
print('z' not in message)    # Output: True

True
True

In [151]:
# Membership operators with tuples
numbers = (1, 2, 3, 4, 5)
print(3 in numbers)          # Output: True
print(6 not in numbers)      # Output: True

True
True

In [152]:
# Membership operators with sets
letters = {'a', 'b', 'c'}
print('b' in letters)        # Output: True
print('d' not in letters)    # Output: True

True
True

**6. Identity Operators:**
- identity operators are used to determine whether two variables or values refer to the same object in memory. They do not compare the values of the variables; instead, they check if the variables point to the same memory location. Python provides two identity operators:

     - '**is**' Identity: Returns True if both operands refer to the same object.
     - '**is not**' Not Identity: Returns True if both operands do not refer to the same object.

In [149]:
# Example 1
x = [1, 2, 3]
y = x  # y now references the same object as x

print(x is y)        # Output: True (x and y refer to the same object)
print(x is not y)    # Output: False (x and y refer to the same object)

True
False

In [150]:
id(x)

2238510838976

In [151]:
id(y)

2238510838976

In [152]:
# Example 2
a = [1, 2, 3]
b = [1, 2, 3]  # b is a different object with the same values as a

print(a is b)        # Output: False (a and b are different objects)
print(a is not b)    # Output: True (a and b are different objects)

False
True

In [153]:
id(a)

2238510926592

In [154]:
id(b)

2238510650688

In [156]:
# Example 3
name = "Ravi"
name_copy = "Ravi"  # name_copy points to the same string object as name

print(name is name_copy)        # Output: True (name and name_copy refer to the same string object)
print(name is not name_copy)    # Output: False (name and name_copy refer to the same string object)

True
False

In [157]:
id(name)

2238477490352

In [158]:
id(name_copy)

2238477490352