## OOPs [Object-Oriented Programming] in Python
- Object-Oriented Programming (OOP) is a programming paradigm that organizes code by modeling real-world entities as objects, which have both data (attributes) and behaviors (methods). Python fully supports OOP principles, making it a powerful language for designing and implementing complex systems.

### class
- A class is a blueprint or template for creating objects. It defines the structure and behaviour that its objects will have. It is a logical entity that contains some atributes and methods.

In [1]:
# creating class using keyword class
class test:

IndentationError: expected an indented block (3875607521.py, line 3)

In [4]:
class Test:
    pass
# It is good in practice if we use first letter capital of class name

In [5]:
class Test:
    print('this is test class')

this is test class

### object
- An object is an instance of a class. It is created using the blueprint defined by the class.

In [27]:
class Employee:
    company_name='ABC company'
    def details(self,name,salary):
        self.name=name
        self.salary=salary
# Here company_name is attribute and details is a method(function)

In [33]:
emp1=Employee()
emp2=Employee()

- In the above example **emp1** and is an object of an **Employee** class.

In [29]:
emp1.company_name()

TypeError: 'str' object is not callable

In [30]:
emp1.company_name

'ABC company'

In [31]:
emp1.details()

TypeError: details() missing 2 required positional arguments: 'name' and 'salary'

In [32]:
emp1.details('ravi',200e3)

In [25]:
print(emp1.name)

ravi

In [26]:
print(emp1.salary)

200000.0

In [34]:
emp2.company_name

'ABC company'

In [35]:
emp2.details

In [36]:
emp2.details()

TypeError: details() missing 2 required positional arguments: 'name' and 'salary'

In [38]:
emp2.details('Madhu')

TypeError: details() missing 1 required positional argument: 'salary'

In [39]:
emp2.details(300e3)

TypeError: details() missing 1 required positional argument: 'salary'

In [40]:
emp2.details('madhu',21451,300e3)

TypeError: details() takes 3 positional arguments but 4 were given

In [41]:
emp2.details('madhu',300e3)

In [52]:
print('the name of the employee is: ',emp2.name)
print('salary is:',emp2.salary)

the name of the employee is:  madhu
salary is: 300000.0

### \_\_init\_\_ Method:
-  \_\_init\_\_ method is a special method or constructor in python classes that is automatically called when an object of the class is created.
- it is used to initialize the attributes of an object.
- The first parameter of the **\_\_init\_\_** method is conventionally named **self**, which refers to the instance of the object being created.

### self parameter
- In python class methods, including \_\_init\_\_ method the first parameter is always a pointer conventionally denoted By 'self'.
- **self** represents the instance of an object itself.It is used to access the attributes and methods of the object within the class.
- When you create an object from a class, Python automatically passes the object's instance as the self parameter to methods.